button{
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2{
    color:#1d3557;
}

body{
    background-color: #f1faee;
}

#signup{
    background-color: #1d3557;
    color: #f1faee ;
}

span{
    color:#457b96;
}

.tag{
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/* body{
    background-color: black;
} */

/* section span a{
    color:#457b96;
} */

.post a{
    color:#457b96;
    text-decoration: none;
    font-weight: 700;
}

footer a{
    color:#e63946;
    text-decoration: none;
    font-weight: 700;
}

/* input+button{
    background-color: pink;
} */

h2+button{
    font-size: 20px;
    /* background-color: magenta; */
}

footer>a{
    color:#a8dadc;
}

input[type="password"]{
    color:green;
}

/* section[class="post"]{
    background-color: purple;
} */

a[href*=google]{
    color: magenta;
}

/* button:hover{
    background-color: #e63946;
    color:#f1faee;
} */

.post button:hover{
    background-color: #e63946;
    color:#f1faee;
}

a:hover{
    text-decoration: wavy underline red;
}

.post:nth-of-type(3n){
    background-color: #dfe8dc;
}

h2::first-letter{
    font-size: 50px;
}

p::selection{
    background-color:#fcbf49;
}