*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C)
}

.calculator-grid{
    display: grid;
    margin-top:2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat();
}

.span-two{
    grid-column: span 2;
}

.calculator-grid>button{
    
}

output{
    grid-column: 1/-1;
    background-color:rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding:0.75rem;
    word-wrap: break-word;

}